<div>
    <page-header title="Text To Speech App Demo"></page-header>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Text To Speech</h3>
                    <button class="btn btn-primary" ng-click="test()">Test Server-Side Speech</button>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <textarea 
                            ng-model="textToSend"
                            class="form-control" rows="3" 
                            placeholder="Enter any text here that you wish to convert to speech. (NOTE: hitting ENTER will submit the text)" 
                            enter-submit="sendMessage()"
                            autofocus
                            ></textarea>
                    </div>
                    <button class="btn btn-primary" ng-click="test()">Test Server-Side Speech</button>
                </form>
            </div>
        </div>
    </div>
    {{textToSend}}
    <page-footer></page-footer>
</div>